{% extends "base.html" %}

{% block title %}{{ _('Alarm') }}{% endblock %}

{% block head %}
	<meta name="api-waitlists" content="{{url_for('api_waitlists.wlbasedata')}}">
	<meta name="api-groups" content="{{url_for('api_waitlists.groups')}}">
{{ super() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/expr-eval/1.0.1/bundle.min.js" integrity="sha256-R6r1M1yfa1MKl+m/J4ieun+1bZKH2KBNVEyTEsF4kNA=" crossorigin="anonymous"></script>
	{% assets filters="babili", output="gen/alarm.%(version)s.js", "js/notification/alarm.js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock head %}

{% block container_data %}
	<div class="row">
		<div class="col-12">
			<audio id="alarm" src="{{url_for('static', filename='gong-sound.mp3')}}" class="mx-auto" controls loop></audio>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<table class="table" id="wl-stats">
				<thead>
					<tr>
						<th>{{ _('WL Group') }}</th><th>{{ _('open') }}</th><th>{{ _('xup') }}</th><th>{{ _('logi') }}</th><th>{{ _('dps') }}</th><th>{{ _('sniper') }}</th><th>{{ _('other') }}</th>
					</tr>
				</thead>
				<tbody id="wl-stats-body">
				</tbody>
			</table>
		</div>
	<div class="col-6">
		<div class="row">
			<div class="input-group">
				<label class="input-group-prepend" for="expr-target-select">{{ _('Expression Target') }}</label>
				<select autocomplete="off" id="expr-target-select" class="custom-select" aria-describedby="expr-target-addon">
				</select>
  				<span class="input-group-prepend">
					<button id="expr-target-add" class="btn btn-primary" type="button">{{ _('Add') }}</button>
				</span>
			</div>
		</div>
		<div class="row">
			<table class="table">
				<thead>
				<th>{{ _('Target') }}</th><th>{{ _('Expression') }} <a href="{{url_for('site_help')}}">{{ _('Need Help?') }}</a></th><th>{{ _('Enabled') }}</th>
				</thead>
				<tbody id="alarm-expr-body">
				</tbody>
			</table>
		</div>
	</div>
	</div>
{% endblock container_data %}