{% extends "base.html" %}

{% block title %}{{ _('Fleet') }} - {{ _('Takeover') }} - {{ _('Change Fleet Group') }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block data %}
<form action="{{url_for('fleet.change_type_submit', fleet_id=fleetID)}}" method="post">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
<fieldset class="form-group">
	<label for="fleet-group">{{ _('Waitlist Type') }}</label>
	<select class="form-control" id="fleet-group" name="fleet-group">
	{% for group in groups %}
		<option value="{{group.groupID}}">{{group.displayName}}</option>
	{% endfor %}
	</select>
</fieldset>
<button type="submit" class="btn-primary btn">{{ _('Change Type') }}</button>
</form>
{% endblock %}
