{% extends "base.html" %}

{% block title %}{{ _('Overview') }}{% endblock %}

{% block head %}
<meta name="fleet-spy" content="{{url_for('fleet.print_fleet', fleetid=-1)}}">
<meta name="local-esi-json" content="{{ url_for('static', filename='swagger.json') }}">
{{ super() }}
{% assets filters="babili", output="gen/fleetview.%(version)s.js", "js/fleetview/fleetview.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

<body>
{% block container_data %}
<div class="row" id="controls">
<div class="input-group">
	<select autocomplete="off" class="form-control" id="fleetSelect">
		<option selected value="None">{{ _('Choose...') }}</option>
		{% for fleet in fleets %}
		<option value="{{fleet.fleetID}}">{{fleet.comp.username}}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="row" id="fleetlist-div">
<table class="table">
	<thead>
		<tr id="fleet-list-header-tr">
		</tr>
	</thead>
	<tbody id="fleet-list-body">
	</tbody>
</table>
</div>
{% endblock %}