<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<meta name="fleet-spy" content="{{url_for('fleet.print_fleet', fleetid=-1)}}">
<script type="text/javascript">
function getMetaData (name) {
	return $('meta[name="'+name+'"]').attr('content');
}
function handleData(data) {
	var squadMap = [];
	for(let charId in data) {
		console.log("creating squadMap ", charId);
		let charObj = data[charId];
		// if we have no map for the quad yet, create one
		if (!(charObj['squad_id'] in squadMap)) {
			console.log("Creating map for squad with id ", charObj.squadID);
			squadMap[charObj['squad_id']]= {};
		}
		// add the char to the squad
		squadMap[charObj['squad_id']][charId] = charObj;
	}
	// now convert it to arrays:
	var tableData = []; // [0] = th row
	var columnArray = [];
	var columnCount = 0;
	var rowCount = 0;
	for (let squadID in squadMap) {
		columnArray.push(squadID);
		columnCount++;
	}
	console.log("Counted Squads", columnCount);
	tableData.push(columnArray);
	
	var squadsArray = [];
	// convert the squads to array
	for (let idx in columnArray) {
		console.log("Going over Squad ", idx)
		let squadID = columnArray[idx];
		console.log("SquadID", squadID);
		let squad = [];
		for (let charId in squadMap[squadID]) {
			squad.push(squadMap[squadID][charId]);
		}
		console.log("Adding squad ", squad);
		squadsArray.push(squad);
	}
	var maxLength = 0;
	for(let idx in squadsArray) {
		if (squadsArray[idx].length > maxLength) {
			maxLength = squadsArray[idx].length;
		}
	}
	console.log("MaxLength ", maxLength);
	for(let s=0; s<maxLength; s++) {
		console.log("s ", s)
		var rowArray = [];
		for(let sidx=0; sidx < columnCount; sidx++) {
			if (squadsArray[sidx].length > s) {
				rowArray.push(squadsArray[sidx][s]);
			} else {
				rowArray.push(null);
			}
		}
		tableData.push(rowArray);
	}
	console.log("Row Array ", tableData);
	
	
	
	// now we have a map containing all squads (squadID, map<charID, char>) (that are maps that contain characters)
	let headTr = $('#fleet-list-header-tr');
	headTr.empty();
	for(let idx in tableData[0]) {
		let th = $.parseHTML(`<th>${tableData[0][idx]}</th>`);
		headTr.append(th);
	}
	let body = $('#fleet-list-body');
	body.empty();
	for(let rowIdx=1; rowIdx < tableData.length; rowIdx++) {
		let html = "<tr>";
		for(let idx in tableData[rowIdx]) {
			let data = tableData[rowIdx][idx];
			if (data === null) {
				html += "<td>-</td>";
			} else {
				let timeStr = data['join_time'] + "Z";
				let timeObj = Date.parse(timeStr);
				let minutes = Math.floor((((new Date()) - timeObj) / 1000)/60);
				html += `<td>${data['ship_type_id'] - ${data['character_id']} - ${minutes}m</td>`;
			}
		}
		html += "</tr>";
		console.log("Adding row", html);
		body.append($.parseHTML(html));
	}
}

function handleFleetSelected(event) {
	var fleetid = event.target.value;
	if (fleetid != 'None') {
		$.get(getMetaData('fleet-spy').replace('-1', fleetid), function(data, status, xhr) {
			handleData(data);
		});
	}
} 

$(document).ready(function() {
	$('#fleetSelect').on("change", handleFleetSelected);
	// load initial fleet if the browser set a value
	if ($('#fleetSelect').val() != 'None') {
		$.get(getMetaData('fleet-spy').replace('-1', $('#fleetSelect').val()), function(data, status, xhr) {
			handleData(data);
		});
	}
});
</script>
</head>
<body>
<div class="container">
<div class="row" id="controls">
<div class="input-group">
	<select class="form-control" id="fleetSelect">
		<option selected value="None">Choose...</option>
		{% for fleet in fleets %}
		<option value="{{fleet.fleetID}}">{{fleet.comp.username}}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="row" id="fleetlist-div">
<table class="table">
	<thead>
		<tr id="fleet-list-header-tr">
		</tr>
	</thead>
	<tbody id="fleet-list-body">
	</tbody>
</table>
</div>
</div>
</body>
</html>