.footer {
	font-size: xx-small;
}
.profile-img-32 {
    width: 32px;
    height: 32px;
}
.pretty-dd {
    margin-bottom: 0;
}
.pretty-dd input[type="checkbox"] {
    display: none;
}
.pretty-dd input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}
.pretty-dd input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.pretty-dd input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}
.pretty-dd input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.pretty-dd input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
