.form-inline .twitter-typeahead {
    width: auto;
    float: none;
    vertical-align: middle;
}
.btn-group-mini > .btn, .btn-mini {
    padding: .1rem .4rem;
    font-size: .6rem;
    line-height: 1.0;
    border-radius: .1rem;
}