.wel-header-32 {
	min-height: 32px;
}
.img-32 {
	float: left;
	width: 32px;
	height: 32px;
}
.wel-container-32 {
	margin-left: 35px;
}
.wel-text-row-32-2 {
	height: 50%;
	font-size: 12px;
}
#waitlists {
    padding-top: 0.4rem;
}
p.text-center {
    margin-bottom: 0rem;
}
.btn-group-mini > .btn, .btn-mini {
    padding: .1rem .4rem;
    font-size: .6rem;
    border-radius: .1rem;
}
#sound {
    display: block;
    width: 16rem;
}
.fitdd::before {
    display: inline-block;
    margin-right: .3em;
    vertical-align: middle;
    content: "";
    border-top: .6em solid;
    border-right: .5em solid transparent;
    border-left: .5em solid transparent;
}

[role=button] {
    cursor:pointer
}
  
details.card > summary {
    outline: none;
}
details.card > summary::-webkit-details-marker {
    display: none;
}

details.card > .list-group.list-group-flush > :first-child {
    border-top: 1px solid #dee2e6 !important;
}

details.card.toggler > summary.card-header::after {
    margin-left: auto;
    content: "\e90a";
}

details[open].card.toggler > summary.card-header::after {
    content: "\e903";
}