.wel-header-32 {
	min-height: 32px;
}
.img-32 {
	float: left;
	width: 32px;
	height: 32px;
}
.wel-container-32 {
	margin-left: 35px;
}
.wel-text-row-32-2 {
	height: 50%;
	font-size: 12px;
}
#row-waitlists {
    padding-top: 0.4rem;
}
.tag {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.alert-info {
    margin-bottom: 0.2em;
}
p.text-xs-center {
    margin-bottom: 0rem;
}
.btn-group-mini > .btn, .btn-mini {
    padding: .1rem .4rem;
    font-size: .6rem;
    border-radius: .1rem;
}
.list-group-item {
	padding: .1rem .1rem;
}
.card {
	margin-bottom: 0rem;
}
.fitting {
	cursor: pointer;
}
#sound {
    display: block;
    width: 16rem;
}
.fitdd::before {
    display: inline-block;
    margin-right: .3em;
    vertical-align: middle;
    content: "";
    border-top: .6em solid;
    border-right: .5em solid transparent;
    border-left: .5em solid transparent;
}
.missed-invites {
	display: inline;
}
.missed-invites-number {
	display: inline;
}