{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block head %}
{{ super() }}
<style>
.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F3F3F3;
    }
.content {
	padding-left: 30px;
}
</style>
{% endblock %}

{% block data %}
<div class="col-sm-3 col-md-2 sidebar" id="sidebar">
	<ul class="nav nav-pills nav-stacked">
	<li class="nav-item">
		<a class="nav-link {% block m_overview %}{% endblock %}" href="{{url_for('settings.overview')}}">Overview</a>
	</li>
	{% if perm_man.can() %}
	<li class="nav-item">
		<a class="nav-link {% block m_fleet %}{% endblock %}" href="{{url_for('settings.fleet')}}">Fleet Settings</a>
	</li>
	{% endif %}
	<li class="nav-item">
		<a class="nav-link {% block m_own %}{% endblock %}" href="{{url_for('settings.account_self')}}">Own Settings</a>
	</li>
	{% if perm_accounts.can() %}
	<li class="nav-item">
		<a class="nav-link {% block m_account %}{% endblock %}" href="{{url_for('settings.accounts')}}">Accounts</a>
	</li>
	{% endif %}
	{% if perm_bans.can() %}
	<li class="nav-item">
		<a class="nav-link {% block m_ban %}{% endblock %}" href="{{url_for('settings.bans')}}">Bans</a>
	</li>
	{% endif %}
	{% if perm_feedback.can() %}
	<li class="navitem">
		<a class="nav-link {% block m_feedback %}{% endblock %}" href="{{url_for('feedback.settings')}}">Feedback</a>
	</li>
	{% endif %}
	{% if perm_dev.can() %}
	<li class="navitem">
		<a class="nav-link {% block m_sde %}{% endblock %}" href="{{url_for('settings.sde_settings')}}">Static Data Import</a>
	</li>
	{% endif %}
	</ul>
</div>
<div class="col-sm-7 col-sm-offset-3 col-md-8 col-md-offset-2 content" id="main">
<div class="row">
{% block content %}<p> Please select something on the left side </p>{% endblock %}
</div>
<div class="row" id="footer">
&copy; Copyright 2016+ by <a href="javascript:CCPEVE.showInfo(1377, 91495852)">Bruce Warhead</a>.
</div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
