{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block container_data %}
{% set nav = [
	('settings.overview', 'Overview', true),
	('settings.fleet', 'Fleet Settings', perm_man.can()),
	('settings.teamspeak', 'TS Settings', perm_man.can()),
	('settings.account_self', 'Own Settings', true),
	('settings.accounts', 'Accounts', perm_accounts.can()),
	('settings.bans', 'Bans', perm_bans.can()),
	('settings.whitelist', 'Whitelist', perm_bans.can()),
	('settings_mail.index', 'IG Mail Settings', (perm_res_mod.can() or perm_t_mod.can() or perm_leadership.can())),
	('settings_fmotds.index', 'Fleet MOTD', perm_leadership.can()),
	('settings_inserts.index', 'Page Inserts', perm_manager.getPermission('inserts').can()),
	('feedback.settings', 'Feedback', perm_feedback.can()),
	('settings.sde_settings', 'Static Data Import', perm_dev.can())
] -%}
<div class="row">
	<div class="col-sm-3 col-md-2 sidebar" id="sidebar">
		<ul class="nav nav-pills nav-stacked">
		{% for endpoint, name, perm in nav %}
		{% if perm %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == endpoint %}active{% endif %}" href="{{url_for(endpoint)}}">{{name}}</a>
		</li>
		{% endif %}
		{% endfor %}
		</ul>
	</div>
	<div class="col-sm-9 col-md-10 content" id="main">
	{% block raw_content %}
	<div class="row">
	{% block content %}<p> Please select something on the left side </p>{% endblock %}
	</div>
	{% endblock %}
</div>
<div class="row" id="footer">
&copy; Copyright 2016+ by <a href="char:91495852">Bruce Warhead</a>.
</div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
