{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block container_data %}
<div class="row">
	<div class="col-sm-3 col-md-2 sidebar" id="sidebar">
		<ul class="nav nav-pills nav-stacked">
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == 'settings_overview.overview' %}active{% endif %}" href="{{url_for('settings_overview.overview')}}">Overview</a>
		</li>
		{% for endpoint, name, perm in settings_menu if (not endpoint == 'settings_overview.overview' and perm()) %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == endpoint %}active{% endif %}" href="{{url_for(endpoint)}}">{{name}}</a>
		</li>
		{% endfor %}
		</ul>
	</div>
	<div class="col-sm-9 col-md-10 content" id="main">
	{% block raw_content %}
	<div class="row">
	{% block content %}<p> Please select something on the left side </p>{% endblock %}
	</div>
	{% endblock %}
	</div>
</div>
<footer class="row" id="footer">
&copy; Copyright 2016+ by <a href="char:91495852">Bruce Warhead</a>.
</footer>
{% endblock %}

{% block footer %}{% endblock %}
