{% extends "settings/base.html" %}

{% block title %}Settings - Fleet Settings{% endblock %}

{% block m_fleet %}active{% endblock %}

{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='js/typeahead.bundle.min.js')}}" type="text/javascript"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/typeaheadjs.css')}}">
<script type="text/javascript">
$(document).ready(function(){
	var constellationSource = new Bloodhound({
		datumTokenizer: Bloodhound.tokenizers.obj.whitespace('conName'),
		queryTokenizer: Bloodhound.tokenizers.whitespace,
		remote: {
			url: "{{url_for('settings.fleet_query_constellations')}}?term=%QUERY",
			wildcard: '%QUERY',
			filter: function(response) {
	            return response.result;
	        }
		}
	});
	$('#con-typeahead').typeahead({
		  hint: true,
		  highlight: true,
		  minLength: 1
		}, {
		name: 'constellations',
		display: 'conName',
		source: constellationSource
	});
});
</script>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block">
    <h4 class="card-title" id="fleet-status">Status: {{fleet.status}}</h4>
    <form action="{{url_for('settings.fleet_status_set')}}" method="post" class="form-inline">
    	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    	<input type="hidden" name="action" value="status">
    	<input type="text" name="status" value="{{fleet.status}}">
    	<button type="submit" class="btn btn-primary">Set</button>
    	</form>
    <table class="table">
    <tbody>
    <tr>
    	<th scope="row">FC</th>
    	<td>{% if fleet.fc is not none %}<a href="javascript:CCPEVE.showInfo(1377, {{fleet.fc[1]}});">{{fleet.fc[0]}}</a>{% else %}Not Set{% endif %}</td>
    	<td>
    	<form action="{{url_for('settings.fleet_status_set')}}" method="post" class="form-inline">
    	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    	<input type="hidden" name="action" value="fc">
    	<input type="text" name="name" value="{{user.get_eve_name()}}">
    	<button type="submit" class="btn btn-primary">Set</button>
    	</form>
    	</td>
    </tr>
    <tr>
    	<th scope="row">Fleet Manager</th>
    	<td>{% if fleet.manager is not none %}<a href="javascript:CCPEVE.showInfo(1377, {{fleet.manager[1]}});">{{fleet.manager[0]}}</a>{% else %}Not Set{% endif %}</td>
    	<td>
    	<form action="{{url_for('settings.fleet_status_set')}}" method="post" class="form-inline">
    	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    	<input type="hidden" name="action" value="manager">
    	<input type="text" name="name" value="{{user.get_eve_name()}}">
    	<button type="submit" class="btn btn-primary">Set</button>
    	</form>
    	</td>
    </tr>
    <tr>
    	<th scope="row">Constellation</th>
    	<td>{% if fleet.constellation is not none %}<a href="javascript:CCPEVE.showInfo(4, {{fleet.constellation[1]}});">{{fleet.constellation[0]}}</a>{% else %}Not Set{% endif %}</td>
    	<td>
    	<form action="{{url_for('settings.fleet_status_set')}}" method="post" class="form-inline">
    	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    	<input type="hidden" name="action" value="constellation">
    	<input id="con-typeahead" class="typeahead" type="text" name="name">
    	<button type="submit" class="btn btn-primary">Set</button>
    	</form>
    	</td>
    </tr>
    <tr>
    	<th scope="row">Dockup</th>
    	<td>{% if fleet.dock is not none %}<a href="javascript:CCPEVE.setDestination({{fleet.dock[1]}});">{{fleet.dock[0]}}</a>{% else %}Not Set{% endif %}</td>
    	<td>
    	<form action="{{url_for('settings.fleet_status_set')}}" method="post" class="form-inline">
    	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    	<input type="hidden" name="action" value="dock">
    	<input type="text" name="name">
    	<button type="submit" class="btn btn-primary">Set</button>
    	</form>
    	</td>
    </tr>
    <tr>
    	<th scope="row">HQ System</th>
    	<td>{% if fleet.systemhq is not none %}<a href="javascript:CCPEVE.showInfo(5, {{fleet.systemhq[1]}});">{{fleet.systemhq[0]}}</a>{% else %}Not Set{% endif %}</td>
    	<td>
    	<form action="{{url_for('settings.fleet_status_set')}}" method="post" class="form-inline">
    	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    	<input type="hidden" name="action" value="systemhq">
    	<input type="text" name="name">
    	<button type="submit" class="btn btn-primary">Set</button>
    	</form>
    	</td>
    </tr>
    </tbody>
    </table>
  </div>
</div>
{% endblock %}
