{% extends "settings/base.html" %}

{% block title %}{{ _('Settings') }} - {{ 'Murmur' }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
	{% if perm_manager.get_permission('murmur_change').can() %}
		<form action="{{url_for('murmur.murmur_change')}}" method="POST" class="form-inline mb-3">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<input type="hidden" name="action" value="set">
			<select autocomplete="off" class="custom-select mr-1" name="murmurID">
				{% if active is none %}
					<option value="">No Murmur</option>
				{% for murmur in all %}
					<option value="{{murmur.murmurID}}">{{murmur.displayName}}</option>
				{% endfor %}
				{% else %}
				{% for murmur in all %}
					<option value="{{murmur.murmurID}}"{% if murmur.murmurID == active.murmurID%} selected{% endif %}>{{murmur.displayName}}</option>
				{% endfor %}
				{% endif %}
			</select>
			<button class="btn btn-primary" type="submit">{{ _('Change Server') }}</button>
		</form>
	{% endif %}
	{% if perm_manager.get_permission('murmur_edit').can() %}
			<form action="{{url_for('murmur.murmur_change')}}" method="POST" class="form-inline mb-3">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<input type="hidden" name="action" value="remove">
			<select autocomplete="off" class="custom-select mr-1" name="murmurID">
				{% if active is none %}
				{% for murmur in all %}
					<option value="{{murmur.murmurID}}">{{murmur.displayName}}</option>
				{% endfor %}
				{% else %}
				{% for murmur in all %}
					<option value="{{murmur.murmurID}}"{% if murmur.murmurID == active.murmurID%} selected{% endif %}>{{murmur.displayName}}</option>
				{% endfor %}
				{% endif %}
			</select>
			<button class="btn btn-primary" type="submit">{{ _('Remove TS') }}</button>
		</form>
		<form action="{{url_for('murmur.murmur_change')}}" method="POST">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<input type="hidden" name="action" value="add">
			<div class="form-group">
				<label for="displayName">{{ _('Display Name') }}</label>
				<input type="text" class="form-control" id="displayName" name="displayName" value="{{active.displayName}}">
			</div>
			<div class="form-group">
				<label for="internalHost">{{ _('Internal Host') }}</label>
				<input type="text" class="form-control" id="internalHost" name="internalHost" value="{{active.host}}">
			</div>
			<div class="form-group">
				<label for="internalPort">{{ _('Internal Port') }}</label>
				<input type="number" class="form-control" id="internalPort" name="internalPort" value="{{active.port}}">
			</div>
			<div class="form-group">
				<label for="displayHost">{{ _('Display Host') }}</label>
				<input type="text" class="form-control" id="displayHost" name="displayHost" value="{{active.displayHost}}">
			</div>
			<div class="form-group">
				<label for="displayPort">{{ _('Display Port') }}</label>
				<input type="number" class="form-control" id="displayPort" name="displayPort" value="{{active.displayPort}}">
			</div>
			<div class="form-group">
				<label for="serverID">{{ _('Server ID') }}</label>
				<input type="number" class="form-control" id="serverID" name="serverID" value="{{active.serverID}}">
			</div>
			<div class="form-group">
				<label for="safetyChannelID">{{ _('Safety ChannelID') }}</label>
				<input type="number" class="form-control" id="safetyChannelID" name="safetyChannelID" value="{{active.safetyChannelID}}">
			</div>
			<button class="btn btn-primary" type="submit">{{ _('Add Murmur') }}</button>
		</form>
	{% endif %}
{% endblock %}
