{% extends "settings/base.html" %}

{% block title %}Settings - Overview{% endblock %}

{% block raw_content %}

{% for s_row in stats %}
	<div class="row">
	
	{% for table in s_row %}
	{# (desc, column_names, data, hide_rows) #}
	<div class="col-6">
		<table class="table table-sm">
			<caption>{{table.0}}</caption>
			<thead>
				{% for header_text in table.1 %}
				<th {% if table.3[loop.index0] == true %}hidden{% endif %}>{{header_text}}</th>
				{% endfor %}
			</thead>
			<tbody>
				{% for trow in table.2 %}
				<tr>
					{% for tcell in trow %}
					<td {% if table.3[loop.index0] == true %}hidden{% endif %}>{{tcell}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endfor %}

	</div>
{% endfor %}
{% endblock %}