{% extends "settings/base.html" %}

{% block title %}Settings - Overview{% endblock %}

{% block head %}
	{{ super() }}
<meta name="show_approval_count" content="{{config.overview_show_count_for_approvals}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.js"
 integrity="sha256-q4eNahhjrmTWF+LAesQ+rDagZhwcegBpS7qE0UAjJx4="
 crossorigin="anonymous"></script>

	{% assets filters="babili", output="gen/swagger-client.%(version)s.js", "js/swagger-client.min.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	{% assets filters="babili", output="gen/settings.overview.%(version)s.js", "js/base.js",
	"js/overview/overview.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}

	{% block raw_content %}
	<div class="row" id="chart-row">
	
	</div>
	{% endblock %}
