{% extends "settings/base.html" %}

{% block title %}Settings - Overview{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-6">
<table class="table table-sm">
	<caption>Top 15 approved distinct hull/character combinations last 30 days</caption>
	<thead>
		<tr>
			<th>ShipType</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for row in shipStats %}
		<tr>
			<th>{{row[0]}}</th>
			<td>{{row[1]}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
<div class="col-sm-6">
<table class="table table-sm">
	<caption>15 Most Active Command Core Members over last 7days</caption>
	<thead>
		<tr>
			<th>Accountname</th>
			<!-- <th>Amount</th> -->
		</tr>
	</thead>
	<tbody>
		{% for row in fcStats %}
		<tr>
			<th>{{row[0]}}</th>
			<!-- <td>{{row[1]}}</td> -->
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</div>
{% endblock %}