{% extends "settings/base.html" %}

{% block title %}Settings - Static Data Import{% endblock %}

{% block m_sde %}active{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block raw_content %}
<div class="row">
	<div class="alert alert-info" role="alert">All files can be bz2 compressed if uploaded with extension .bz2</div>
	{% if is_igb %}
	<div class="alert alert-info" role="alert">File Uploads do not work in the IGB. Please use an out of game browser</div>
	{% endif %}
</div>
<div class="row">
<form class="form" action="{{url_for('settings.update_type_ids')}}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<div class="form-group">
		<label class="form-control-label" for="typeid-file">typeIDs.yaml</label>
		<label class="custom-file">
 			<input type="file" name="file" id="typeid-file" class="custom-file-input">
  			<span class="custom-file-control"></span>
		</label>
		<span class='tag tag-info' id="upload-file-info"></span>
	</div>
	<button type="submit" class="btn btn-primary">Update typeIDs</button>
</form>
</div>
<div class="row">
<form class="form" action="{{url_for('settings.update_map')}}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<div class="form-group">
		<label class="form-control-label" for="universe-file">universeDataDx.db</label>
		<label class="custom-file">
 			<input type="file" name="file" id="universe-file" class="custom-file-input">
  			<span class="custom-file-control"></span>
		</label>
	</div>
	<button type="submit" class="btn btn-primary">Update Systems and Constellations</button>
</form>
</div>
<div class="row">
<form class="form" action="{{url_for('settings.update_stations')}}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<div class="form-group">
		<label class="form-control-label" for="station-file">staStations.csv (can be bz2 compress if you upload it as staStations.csv.bz2)</label>
		<label class="custom-file">
 			<input type="file" name="file" id="station-file" class="custom-file-input">
  			<span class="custom-file-control"></span>
		</label>
	</div>
	<button type="submit" class="btn btn-primary">Update Stations</button>
</form>
</div>
<div class="row">
<form class="form" action="{{url_for('settings.update_layouts')}}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<div class="form-group">
		<label class="form-control-label" for="layout-file">layout.csv (can be bz2 compress if you upload it as layout.csv.bz2)</label>
		<label class="custom-file">
 			<input type="file" name="file" id="layout-file" class="custom-file-input">
  			<span class="custom-file-control"></span>
		</label>
	</div>
	<p>This cvs file, needs to be data separated by tabs. and the first line need to contain the following separated by tabs instead of a space and comma:
	Constellation, Headquarter System, Dockup
	</p>
	<button type="submit" class="btn btn-primary">Update Layouts</button>
</form>
</div>
{% endblock %}
