{% extends "settings/base.html" %}

{% block title %}Settings - Account{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
	function deleteAccount(accountId) {
		var settings = {
			async : true,
			dataType : "text",
			error : function() {
				// TODO: flash an error message
				console.log("Error");
			},
			method : "DELETE",
			success : function() {
				var id = "#account-" + accountId;
				$(id).remove();
			},
			headers: {
				'X-CSRFToken': '{{csrf_token()}}'
			}
		};
		$.ajax("{{url_for('accounts.api_account_delete', acc_id='-1')}}"
				.replace("-1", accountId), settings)
	}

	function editAccount(accountId) {
		var name = $('#acc-' + accountId + "-name").text();
		var roles = $('#acc-' + accountId + '-roles').text();
		var default_char_name = $('#acc-' + accountId + '-cchar').text();
		$('#acc-edit-name').val(name);
		// this is more complicated
		//$('#acc-edit-roles')
		roles = roles.split(", ")
		// map the roles he has to a dict so we can fast and easy check for them later
		var has_roles = {};
		for (role in roles) {
			has_roles[roles[role]] = true;
		}

		var edit_roles_select = document.getElementById('acc-edit-roles');
		for (var i = 0; i < edit_roles_select.options.length; i++) {
			var option = edit_roles_select.options[i];
			var val = option.value;
			if (val in has_roles) {
				option.selected = true;
			} else {
				option.selected = false;
			}
		}
		$('#acc-edit-cchar').val(default_char_name);
		$('#acc-edit-id').val(accountId);
		$('#modal-account-edit').modal('toggle');
	}
</script>
{% endblock %}

{% block content %}
<form class="w-100" id="form-account-edit" action="{{url_for('accounts.account_self_edit')}}" method="POST">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<fieldset class="form-group">
		<label for="acc-edit-name">{{ _('Account Name') }}</label>
		<input type="text" class="form-control" id="acc-edit-name" name="account_name" value="{{account.username}}" disabled>
	</fieldset>
	<fieldset>
		<label for="acc-edit-roles">{{ _('Roles') }}</label>
		<select autocomplete="off" class="form-control" id="acc-edit-roles" name="account_roles" multiple disabled>
			{% for role in account.roles %}
			<option value="{{role.name}}">{{role.name}}</option>
			{% endfor %}
		</select>
	</fieldset>
	<fieldset class="form-group">
		<label for="acc-edit-cchar">{{ _('Default Character') }}</label>
		<input type="text" class="form-control" id="acc-edit-cchar"	name="default_char_name" value="{{account.current_char_obj.eve_name}}">
	</fieldset>
	<button id="acc-edit-submit" type="submit"
		class="btn btn-primary">{{ _('Apply') }}</button>
</form>
<form class="form" action="{{url_for('accounts.account_self_register_mumble')}}" method="POST">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<button type="submit" class="btn btn-primary">{{ _('Register on Mumble') }}</button>
</form>
<form class="form" action="{{url_for('accounts.account_self_grant_rights_mumble')}}" method="POST">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<button type="submit" class="btn btn-primary">{{ _('Grant rights on Mumble') }}</button>
</form>
{% endblock %}
