{% extends "base.html" %}

{% block title %}Fleet - Setup - Fleet Input{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block data %}
<form action="{{url_for('fleet.setup_steps', step='url')}}" method="post">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
<fieldset class="form-group">
	<label for="fleet-link-input">External Fleet Link</label>
		<div class="input-group">
		<input class="form-control" type="text" name="fleet-link" id="fleet-link-input" {% if fleetID %}value="https://crest-tq.eveonline.com/fleets/{{fleetID}}/"{%endif%}>
		<a href="http://i.imgur.com/kStDdnP.gif" target="_blank" class="input-group-addon" id="fleet-link-addon-help">?</a>
	</div>
</fieldset>
<fieldset class="form-group">
	<label for="fleet-type">Fleet Type:</label>
	<select class="form-control" id="fleet-type" name="fleet-type">
		<option value="hq" selected>HQ/Assault</option>
		<option value="vg">VG</option>
	</select>
</fieldset>
<fieldset class="form-group">
	<input type="checkbox" value="no-setup" name="skip-setup" id="skip-setup"/>
	<div class="btn-group">
		<label for="skip-setup" class="btn btn-sm btn-info">
			<span>✔</span>
 			<span>✘</span>
		</label>
	<label for="skip-setup" class="btn btn-sm btn-danger">
		Skip Auto Fleet Setup
	</label>
	</div>
</fieldset>
<button type="submit" class="btn-primary btn">Next</button>
</form>
{% endblock %}
