{% extends "base.html" %}

{% block title %}{{ _('Fleet') }} - {{ _('Setup') }} - {{ _('Select Squads') }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block data %}
<form name="fleet-data-form" action="{{url_for('fleet.setup_steps', step='select')}}" method="post">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
<input type="hidden" name="fleet-id" value="{{ fleet_id }}">
<input type="hidden" name="fleet-group" value="{{ group.groupID }}">
{% for waitlist in group.waitlists if waitlist.id != group.queueID %}
<fieldset class="form-group">
	<label for="wl-logi">{{ waitlist.displayTitle }}</label>
	<select autocomplete="off" class="custom-select" id="wl-{{waitlist.id}}" name="wl-{{waitlist.id}}" required>
		{% if waitlist.id not in assignments %}
		<option value="" disabled selected hidden>{{ _('Choose a fleet...') }}</option>
		{% endif %}
	{% for wing in wings %}
		{% for squad in wing.squads() %}
			<option name="wl-{{waitlist.id}}" value="{{wing.id()}};{{squad.id()}}"{% if waitlist.id in assignments and assignments[waitlist.id] == squad.id() %} selected{%endif%}>{{wing.name()}} - {{squad.name()}}</option>
		{% endfor %}
	{% endfor %}
	</select>
</fieldset>
{% endfor %}
<button type="submit" class="btn-primary btn">{{ _('Next') }}</button>
</form>
{% endblock %}
