{% extends "base.html" %}

{% block title %}Fleet - Setup - Select Squads{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block data %}
<form name="fleet-data-form" action="{{url_for('fleet.setup_steps', step='select')}}" method="post">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
<input type="hidden" name="fleet-id" value="{{ fleet_id }}">
<fieldset class="form-group">
	<label for="fleet-group">Waitlist Group</label>
	<select class="form-control" id="fleet-group" name="fleet-group">
	{% for group in groups %}
		<option value="{{group.groupID}}">{{group.displayName}}</option>
	{% endfor %}
	</select>
</fieldset>
<fieldset class="form-group">
	<label for="wl-logi">Logi Squad</label>
	<select class="form-control" id="wl-logi" name="wl-logi">
	{% for wing in wings %}
		{% for squad in wing.squads() %}
			<option name="wl-logi" value="{{wing.id()}};{{squad.id()}}"{% if 'logi' in assign and assign['logi'].id() == squad.id() %} selected{%endif%}>{{wing.name()}} - {{squad.name()}}</option>
		{% endfor %}
	{% endfor %}
	</select>
</fieldset>
<fieldset class="form-group">
	<label for="wl-sniper">Sniper Squad</label>
	<select class="form-control" id="wl-sniper" name="wl-sniper">
	{% for wing in wings %}
		{% for squad in wing.squads() %}
		<option name="wl-sniper" value="{{wing.id()}};{{squad.id()}}"{% if 'sniper' in assign and assign['sniper'].id() == squad.id() %} selected{%endif%}>{{wing.name()}} - {{squad.name()}}</option>
		{% endfor %}
	{% endfor %}
	</select>
</fieldset>
<fieldset class="form-group">
	<label for="wl-dps">DPS Squad</label>
	<select class="form-control" id="wl-dps" name="wl-dps">
	{% for wing in wings %}
		{% for squad in wing.squads() %}
		<option name="wl-dps" value="{{wing.id()}};{{squad.id()}}"{% if 'dps' in assign and assign['dps'].id() == squad.id() %} selected{%endif%}>{{wing.name()}} - {{squad.name()}}</option>
		{% endfor %}
	{% endfor %}
	</select>
</fieldset>
<fieldset class="form-group">
	<label for="wl-overflow">Overflow Squad</label>
	<select class="form-control" id="wl-overflow" name="wl-overflow">
	{% for wing in wings %}
		{% for squad in wing.squads() %}
		<option name="wl-overflow" value="{{wing.id()}};{{squad.id()}}"{% if 'overflow' in assign and assign['overflow'].id() == squad.id() %} selected{%endif%}>{{wing.name()}} - {{squad.name()}}</option>
		{% endfor %}
	{% endfor %}
	</select>
</fieldset>
<button type="submit" class="btn-primary btn">Next</button>
</form>
{% endblock %}
