{% extends "base.html" %}

{% block title %}Tools - CommandCore List{% endblock %}

{% block head %}
{{ super() }}
{% assets filters="babili", output="gen/editablegrid.%(version)s.js", "js/editablegrid/editablegrid.js", "js/editablegrid/editablegrid_utils.js", "js/editablegrid/editablegrid_renderers.js", "js/editablegrid/editablegrid_editors.js", "js/editablegrid/editablegrid_validators.js", "js/editablegrid/editablegrid_paginator.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets filters="babili", output="gen/acc-cc-list.%(version)s.js", "js/accounts/commandcorelist.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

{% block container_data %}
<div class="input-group">
<span class="input-group-addon" id="filter-addon">Filter</span>
<input class="form-control" type="text" id="filter"/>
</div>
<nav aria-label="Page navigation">
	<ul class="pagination" id="paginator">
		<li class="page-item">
			<a class="page-link" href="#" aria-label="First">
				<span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
				<span class="sr-only">First</span>
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
				<span class="sr-only">Previous</span>
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
				<span class="sr-only">Next</span>
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
				<span class="sr-only">Last</span>
			</a>
		</li>
	</ul>
</nav>
<table class="table" id="commanderlist">
<thead>
	<tr>
		<th>Account Name</th>
		<th>Roles</th>
		<th>Known Alts</th>
	</tr>
</thead>
<tbody id="account-table-body">
	{% for acc in accounts %}
	<tr id="account-{{acc.id}}"{% if acc.disabled %} class="table-warning"{% endif %}>
		{%if perm_manager.get_permission('view_profile').can() %}
		<td id="acc-{{acc.id}}-name"><a href="{{url_for('accounts_profile.profile_by_name', username=acc.username)}}" target="_blank">{{ acc.username }}</a></td>
		{% else %}
		<td id="acc-{{acc.id}}-name">{{ acc.username }}</td>
		{% endif %}
		<td id="acc-{{acc.id}}-roles">{% for role in acc.roles %}{{role.displayName}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
		<td>{% for character in acc.characters %}{{character.eve_name}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}
