{% extends "base.html" %}
{% block title %}Tools - History Search{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha256-1A78rJEdiWTzco6qdn3igTBv9VupN3Q1ozZNTR4WE/Y=" crossorigin="anonymous"></script>
<script src="https://quiescens.duckdns.org/wl/wtm.js"></script>
{% assets filters="jsmin", output="gen/fitlink.%(version)s.js", "js/fitlink.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<meta name="api-history-search" content="{{url_for('api_history.get_comp_history')}}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js" integrity="sha256-4PIvl58L9q7iwjT654TQJM+C/acEyoG738iL8B8nhXg=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css" integrity="sha256-IihK1cRp3mOP+uJ2NIWC4NK60QT0nPwLDHyh1ekT5/w=" crossorigin="anonymous" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js" integrity="sha256-I8vGZkA2jL0PptxyJBvewDVqNXcgIhcgeqi+GD/aw34=" crossorigin="anonymous"></script>
<style type="text/css" id="history-css">
.hidden-el {
	display: none;
}
.comp-font {
	font-size: 1.0em;
}
#input-actions {
	overflow: auto;
}
</style>
{% endblock %}

{% block container_data %}
<div class="row">
<div class="btn-group" data-toggle="buttons" role="group" aria-label="history settings">
	<label id="filter-approval-only" class="btn btn-primary">
		<input id="filter-approval-only-box" type="checkbox" autocomplete="off">Only Show Approvals
	</label><button class="btn btn-sm" style="font-size:1em;" onclick="increaseSize(0.25);">A</button><button class="btn btn-sm" style="font-size:0.5em;" onclick="increaseSize(-0.25);">A</button>
</div>
</div>
<div class="row navbar bg-primary form-inline">
<div class="form-group">
	<label for="input-sources">Accounts</label><input class="form-control" id="input-sources" type="text">
</div>
<div class="form-group">
	<label for="input-targets">Characters</label><input class="form-control" id="input-targets" type="text">
</div>
<div class="form-group">
	<label for="input-actions">Actions</label>
	<select class="form-control" id="input-actions" multiple>
		<option value="xup">X-UP</option>
		<option value="comp_rm_pl">Removed a Character from Waitlists</option>
		<option value="comp_inv_pl">Send Invitation to Character</option>
		<option value="comp_rm_etr">Removed Entry from X-UPs</option>
		<option value="self_rm_entry">Removed own fit</option>
		<option value="self_rm_wls_all">Removed himself from all lists</option>
		<option value="comp_mv_xup_etr">Approved X-UP entry</option>
		<option value="comp_mv_xup_fit">Approved Single Fit</option>
		<option value="comp_send_noti">Send Notification to Character</option>
		<option value="auto_rm_pl">Player was removed after found in fleet</option>
		<option value="auto_inv_missed">Player missed his invite</option>
		<option value="self_rm_etr">Player removed himself from X-UPs</option>
		<option value="comp_inv_by_name">Player was invited by Name(Reform Tool?)</option>
	</select>
</div>
<div class="form-group">
<div class='input-group date' id='startpicker'>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
    </span>
</div>
 to 
<div class='input-group date' id='endpicker'>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
    </span>
</div>
</div>
<div class="form-group">
<button id="search" class="form-control">Get Info</button>
</div>
</div>
<div class="row">
<table class="table table-sm comp-font"">
<thead>
<th>Time</th><th>Action</th><th>Account</th><th>Target</th><th>Associated Fits</th>
</thead>
<tbody id="historybody">
</tbody>
</table>
</div>
{% assets filters="jsmin", output="gen/history-search-setup.%(version)s.js", "js/history-search.js", "js/history-font.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}