{% extends "base.html" %}
{% block title %}{{ _('Tools') }} - {{ _('History Search') }}{% endblock %}

{% block head %}
{{ super() }}
{% if config.stattool_enabled %}
<script type="text/javascript"
src="{{ config.stattool_uri }}" integrity="{{ config.stattool_sri }}"
		crossorigin="anonymous" defer async></script>
{% assets filters="babili", output="gen/statcfg.%(version)s.js", "js/config/stattool_config.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
<meta name="api-history-search" content="{{url_for('api_history.get_comp_history')}}">
<style type="text/css" id="history-css">
.hidden-el {
	display: none;
}
.comp-font {
	font-size: 1.0em;
}
</style>
{% endblock %}

{% block container_data %}
<div class="row">
	<div class="btn-group-toggle pr-3" data-toggle="buttons">
		<label id="filter-approval-only" class="btn btn-primary" >
			<input id="filter-approval-only-box" type="checkbox" autocomplete="off" aria-label="toggle show only approvals">Only Show Approvals
		</label>
	</div>
	<div class="btn-group">
		<button class="btn btn-sm btn-primary" style="font-size:1em;" data-action="changeSize" data-size="0.25">A</button>
		<button class="btn btn-sm btn-primary" style="font-size:0.5em;" data-action="changeSize" data-size="-0.25">A</button>
	</div>
</div>
<div class="row">
	<div class="form-inline">
		<div class="form-group mr-2">
			<label class="mr-1" for="input-sources">{{ _('Accounts') }}</label>
			<input class="form-control" id="input-sources" type="text">
		</div>
		<div class="form-group mr-2">
			<label class="mr-1" for="input-targets">{{ _('Characters') }}</label>
			<input class="form-control" id="input-targets" type="text">
		</div>
		<div class="form-group mr-2">
			<label class="mr-1" for="input-actions">{{ _('Actions') }}</label>
			<select autocomplete="off" class="form-control" id="input-actions" multiple>
				<option value="xup">{{ _('X-UP') }}</option>
				<option value="comp_rm_pl">{{ _('Removed a Character from Waitlists') }}</option>
				<option value="comp_inv_pl">{{ _('Send Invitation to Character') }}</option>
				<option value="comp_rm_etr">{{ _('Removed Entry from X-UPs') }}</option>
				<option value="self_rm_entry">{{ _('Removed own fit') }}</option>
				<option value="self_rm_wls_all">{{ _('Removed himself from all lists') }}</option>
				<option value="comp_mv_xup_etr">{{ _('Approved X-UP entry') }}</option>
				<option value="comp_mv_xup_fit">{{ _('Approved Single Fit') }}</option>
				<option value="comp_send_noti">{{ _('Send Notification to Character') }}</option>
				<option value="auto_rm_pl">{{ _('Player was removed after found in fleet') }}</option>
				<option value="auto_inv_missed">{{ _('Player missed his invite') }}</option>
				<option value="self_rm_etr">{{ _('Player removed himself from X-UPs') }}</option>
				<option value="comp_inv_by_name">{{ _('Player was invited by Name(Reform Tool?)') }}</option>
			</select>
		</div>
		<div class="form-group mr-2">
			<div class="input-group form-group date" id="starttimepicker">
				<label for="eventTime">{{ _('From') }}</label>
				<div class="input-group date" id="startdatetimepicker">
					<input id="startDate" placeholder="YYYY-mm-dd" type="date" class="form-control" name="startdate" />
					<input id="startTime" placeholder="HH:MM" type="time" class="form-control" name="starttime" />
					<div class="input-group-append">
						<span class="input-group-text">
							<i class="fa fa-calendar">UTC</i>
						</span>
					</div>
				</div>
			</div>
			<div class="input-group form-group date" id="endtimepicker">
				<label for="eventTime">{{ _('To') }}</label>
				<div class="input-group date" id="enddatetimepicker">
					<input id="endDate" placeholder="YYYY-mm-dd" type="date" class="form-control" name="enddate" />
					<input id="endTime" placeholder="HH:MM" type="time" class="form-control" name="endtime" />
					<div class="input-group-append">
						<span class="input-group-text">
							<i class="fa fa-calendar">UTC</i>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<button id="search" class="form-control">{{ _('Get Info') }}</button>
		</div>
	</div>
</div>
<div class="row">
	<table class="table table-sm comp-font">
		<thead>
			<th>{{ _('Time') }}</th><th>{{ _('Action') }}</th><th>{{ _('Account') }}</th><th>{{ _('Target') }}</th><th>{{ _('Associated Fits') }}</th>
		</thead>
		<tbody id="historybody">
		</tbody>
	</table>
</div>
{% assets filters="babili", output="gen/history-base.%(version)s.js", "js/history-base.js", "js/history-font.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets filters="babili", output="gen/history-search.%(version)s.js", "js/history-search.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets filters="babili", output="gen/eveproxy.%(version)s.js", "js/eveproxy.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% include "libs/eve-ui.html"%}
{% endblock %}