{% extends "base.html" %}

{% block title %}Settings - Accounts{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="btn-group" role="group" aria-label="Account Actions">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-account">Add Account</button>
</div>
<table class="table">
<thead>
	<tr>
		<th>#</th>
		<th>Account Name</th>
		<th>Current Char</th>
		<th>Associated Characters</th>
		<th>Roles</th>
		<th>Actions</th>
	</tr>
	{% for acc in accounts %}
	<tr id="account-{{acc.id}}">
		<td>{{ acc.id }}</td>
		<td>{{ acc.username }}</td>
		<td>{{ acc.current_char }}</td>
		<td>{% for character in acc.characters %}{{character.eve_name}}={{character.id}},{% endfor %}</td>
		<td>
		<button type="button" class="btn btn-xs btn-warning" onclick="javascript:deleteAccount({{acc.id}})">Delete</button>
		<button type="button" class="btn btn-xs btn-secondary" onclick="javascript:editAccount({{acc.id}})">Edit</button>
		</td>
	</tr>
	{% endfor %}
</thead>
</table>
{% endblock %}
