<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="csrf-token" content="{{csrf_token()}}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="eve-image-server" content="{{eve_proxy_js}}">
<meta name="eve-image-server-webp" content="{{eve_cdn_webp}}">
<meta name="browser-webp" content="{{browserSupportsWebp}}">
<!--<link rel="stylesheet" href="/static/css/bootstrap_purple_001.css" id="theme-css">-->
<script type="text/javascript" id="themeloader">
'use strict';
// this code is directly included into the base.html because the css element needs to be included during the first pass
// otherwise people will see a unstyled page flash
if (!waitlist) {
	var waitlist = {};
}

waitlist.themes = (function() {
	let settings = {
		'id': 'theme-css',
		'base_path': "/static/css/",
		'setting_key_prefix': 'themes-',
		'def_type': 'remote',
		'def_file': 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css',
		'def_integrity': "sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ",
		'def_crossorigin': "anonymouse"
	};
	// file_name = null == standard file
	function setTheme(file_name, type, integrity, crossorigin) {
		localStorage.setItem(settings.setting_key_prefix+"file", file_name);
		localStorage.setItem(settings.setting_key_prefix+"type", type);
		if (integrity === null) {
			localStorage.removeItem(settings.setting_key_prefix+"integrity");
		} else {
			localStorage.setItem(settings.setting_key_prefix+"integrity", integrity);
		}
		if (crossorigin === null) {
			localStorage.removeItem(settings.setting_key_prefix+"crossorigin");
		} else {
			localStorage.setItem(settings.setting_key_prefix+"crossorigin", crossorigin);
		}

		let new_element = false;
		let theme_element = document.getElementById(settings.id);
		// we got none yet
		if (theme_element === null) {
			// add one
			let parser = new DOMParser();
			let htmlPart = parser.parseFromString('<html><body><link rel="stylesheet" href="" id="'+settings.id+'"></body></html>', "text/html");
			theme_element = htmlPart.getElementById(settings.id);
			new_element = true;
		}

		let pure_element = theme_element;

		// lets check if we have a local or remote theme
		if (type === 'remote' && integrity !== null && (!pure_element.hasAttribute('integrity')
			|| !pure_element.getAttribute('integrity') !== integrity)) {
			pure_element.setAttribute('integrity', integrity);
		}
		if (type === 'remote' && crossorigin !== null && (!pure_element.hasAttribute('crossorigin')
			|| !pure_element.getAttribute('crossorigin') !== crossorigin)) {
			pure_element.setAttribute('crossorigin', crossorigin);
		}

		if ((type === 'local' || integrity === null) && pure_element.hasAttribute('integrity')) {
			pure_element.removeAttribute('integrity')
		}
		if ((type === 'local' || crossorigin === null) && pure_element.hasAttribute('crossorigin')) {
			pure_element.removeAttribute('crossorigin');
		}
		// lets set the href
		let href = type === "remote" ? file_name : settings.base_path+file_name;
		pure_element.setAttribute('href', href);
		if (new_element) {

			document.write(pure_element.outerHTML);
			//let headElement = document.getElementsByTagName("head")[0];
			//let themLoaderElement = document.getElementById("themeloader");
			//themLoaderElement.insertAdjacentHTML("afterend", pure_element.outerHTML)
			//headElement.insertAfter(pure_element, themLoaderElement);
		}
	}

	function selectionChangeHandler(event) {
		let url = event.target.value;
		let target_option = event.target.options[event.target.options.selectedIndex];
		let type = target_option.getAttribute('data-type');
		let integrity = target_option.hasAttribute('data-integrity') ? target_option.getAttribute('data-integrity') : null;
		let crossorigin = target_option.hasAttribute('data-crossorigin') ? target_option.getAttribute('data-crossorigin') : null;
		setTheme(this.value, type, integrity, crossorigin); //
	}

	function setCurrentTheme() {
		let file = localStorage.getItem(settings.setting_key_prefix+"file");
		let type = localStorage.getItem(settings.setting_key_prefix+"type");
		let integrity = localStorage.getItem(settings.setting_key_prefix+"integrity");
		let crossorigin = localStorage.getItem(settings.setting_key_prefix+"crossorigin");
		document.addEventListener('DOMContentLoaded', function () {
			setSelectionAfterPageReady(file);
		});
		if (file === null || file === "null") {
			// set the default theme
			setTheme(settings.def_file, settings.def_type, settings.def_integrity, settings.def_crossorigin)
		} else {
			setTheme(file, type, integrity, crossorigin);
		}
	}

	function initThemeAfterPageReady() {
		let selector = $('#theme-selector')[0];
		let firstOption = selector[selector.selectedIndex];
		let file = firstOption.getAttribute('value');
		let type = firstOption.getAttribute('data-type');
		let integrity = firstOption.hasAttribute('data-integrity') ? firstOption.getAttribute('data-integrity') : null;
		let crossorigin = firstOption.hasAttribute('data-crossorigin') ? firstOption.getAttribute('data-crossorigin') : null;
		setTheme(file, type, integrity, crossorigin);
	}

	function setSelectionAfterPageReady(file) {
		let selector = document.getElementById('theme-selector');
		let foundTheme = false;
		for(let idx=0; idx < selector.length; idx++) {
			if (selector[idx].getAttribute('value') === file) {
				selector[idx].selected = true;
				foundTheme = true;
				break;
			}
		}


		if (!foundTheme) {
			if (selector.options.length > 0) {
				selector[0].selected = true;
				let target_option = selector[0];
				let url = target_option.value;
				let type = target_option.getAttribute('data-type');
				let integrity = target_option.hasAttribute('data-integrity') ? target_option.getAttribute('data-integrity') : null;
				let crossorigin = target_option.hasAttribute('data-crossorigin') ? target_option.getAttribute('data-crossorigin') : null;
				setTheme(url, type, integrity, crossorigin); //
			}
		}

	}

	// apply our current theme and set handlers
	function init() {
		let selector = $('#theme-selector');
		selector.on("change", selectionChangeHandler);
	}
	setCurrentTheme();
	document.addEventListener('DOMContentLoaded', init);
	// nothing to export
	return {};
})();
</script>
{% block head %}
{% assets filters="cssmin", output="gen/setup.%(version)s.css", "css/base.css", "css/waitlist.css", "css/font.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<title>{% block title %}{% endblock %}</title>
{% endblock %}
{% if header_insert is not none %}
{{header_insert|safe}}
{% endif %}
<script type="text/javascript">
	$(function () {
		if (!window.EventSource) {
			waitlist.base.displayMessage('We have had to disable <strong>features</strong> please consider upgrading your<a href="http://caniuse.com/#feat=eventsource"> browser', 'danger', true);
		}
	});
</script>
</head>
<body>
	<nav class="navbar navbar-toggleable-md bg-faded">
	{% block menu %}
		<button class="navbar-toggler navbar-toggler-right my-1" type="button" data-toggle="collapse" data-target="#mainNavbar">
			&#9776;
  		</button>
		<a class="navbar-brand" href="/#">WarpToMe WL</a>
		<div class="collapse navbar-collapse" id="mainNavbar">
			<ul class="navbar-nav justify-content-start mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('index')}}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link bg-success" href="{{url_for('xup.index')}}">X-UP</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{url_for('notification.alarm_idx')}}">Custom Notifications</a>
						<div class="dropdown-divider"></div>
						{% if perm_manager.get_permission('commandcore').can() %}
							{% if perm_manager.get_permission('fleet_management').can() %}
							<a class="dropdown-item" href="{{url_for('fleet_reform.index')}}">Reform</a>
							{% endif %}
							{% if perm_manager.get_permission('comphistory_view').can() %}
							<a class="dropdown-item" href="{{url_for('fittings.history_default')}}">Comp History</a>
							{% endif %}
							<a class="dropdown-item" href="{{url_for('accounts_cc.accounts')}}">Command Core List</a>
							{% if perm_manager.get_permission('comphistory_search').can() %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{url_for('comp_history_search.index')}}">Comp History Search</a>
							{% endif %}
						{% endif %}
					</div>
				</li>
				{% if perm_manager.get_permission('settings_access').can() %}
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('settings_overview.overview')}}">Settings</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('site_help')}}">Help</a>
				</li>
				{% if current_user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('logout')}}"><img class="profile-img-32" src="{{eve_image('Character/'+(current_user.get_eve_id()|string)+'_32', 'jpg')}}"> Logout</a>
				</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav justify-content-end">
				{% if is_on_wl and is_index %}
				<li id="gong" class="nav-item wlb">
					<div class="mr-2 form-group pretty-dd">
						<input type="checkbox" name="gongbutton" id="gongbutton"/>
						<div class="btn-group">
							<label for="gongbutton" class="nav-link btn btn-sm btn-info">
								<span><i class="fa fa-check"></i></span>
								<span><i class="fa fa-times"></i></span>
							</label>
							<label for="gongbutton" class="nav-link btn btn-sm btn-danger">
								Browser Notifications
							</label>
						</div>
					</div>
				</li>
				<li class="nav-item wlb mr-2">
					<button type="button" class="nav-link btn btn-danger btn-sm" data-action="test-poke">Test TS Poke</button>
				</li>
				<li class="nav-item wlb">
					<button type="button" class="nav-link btn btn-danger btn-sm" data-action="removeSelfFromWaitlists">Leave Waitlists</button>
				</li>
				{% endif %}
			</ul>
		</div>
	{% endblock %}
	</nav>
	{%  block alert_base %}
	<div id="alert-area-base">
	{% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
  		{% for category, message in messages %}
  		<div class="alert alert-{{category}} alert-dismissible" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
  			<p class="text-center">{{message}}</p>
  		</div>
  		{% endfor %}
  		{% endif %}
	{% endwith %}
	</div>
	{% endblock alert_base %}
	<div id="content" class="container-fluid">
		{% block container_data %}
		<div class="row" id="data">{% block data %}{% endblock %}</div>
		{% endblock %}
	</div>
	{% block footer %}
	<footer class="footer container-fluid">
		<div class="row justify-content-left">
		<div class="col-10">&copy; Copyright 2016+ by <a href="char:91495852">Bruce Warhead ISK Donations are appreciated</a> v{{version}}.<br/>
		EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to Bruce Warhead to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, Bruce Warhead. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.
		</div>
		<select id="theme-selector" class="col-2 h-25 custom-select">
			<option value="bootstrap_dark_purple_001.css" data-type="local">Dark Purple</option>
			<option value="bootstrap_dark_001.css" data-type="local">Dark</option>
			<option value="bootstrap_purple_001.css" data-type="local">Purple</option>
			<option value="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
					data-type="remote"
					data-integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
					data-crossorigin="anonymouse">Generic</option>
		</select>
		</div>
	</footer>
	{% endblock %}
</body>
</html>