<!DOCTYPE html>
<html lang="">
<head>
<meta charset="utf-8">
<meta id="lang-code" name="lang" content="{{ lang_code }}">
<meta name="csrf-token" content="{{csrf_token()}}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="eve-image-server" content="{{eve_proxy_js}}">
<meta name="eve-image-server-webp" content="{{eve_cdn_webp}}">
<meta name="browser-webp" content="{{browserSupportsWebp}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.4/jquery.i18n.min.js"
 integrity="sha256-fAF2ycOzitW9kHLEpnZMdqZgsFcq9hzANcyOj9nxlNo="
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.4/jquery.i18n.messagestore.min.js"
 integrity="sha256-E4N7my5ObrBG26FZC2Suynu+fwHG9avmBi93Kb4V0Ls="
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.4/jquery.i18n.language.min.js"
 integrity="sha256-E/HNS4jjzEwivvzyf/iSJgaa8Dbp0FzSpMOXZSfLPZI="
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.4/jquery.i18n.emitter.bidi.min.js"
 integrity="sha256-gcsIExDfAjDpIthC0ZMjGdMnv5UUOdebxef6r4gYm/E="
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.4/jquery.i18n.emitter.min.js"
 integrity="sha256-5S4KtKHthvOilcDP4WPmt75A0a0gKOXUMYAJP/WL5m4="
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.4/jquery.i18n.fallbacks.min.js"
 integrity="sha256-brY06NeoMeTfADA4nNMnLBEySMMpw9ZNM+5b9OX5A3o="
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.4/jquery.i18n.parser.min.js"
 integrity="sha256-A3LDPpIRAyNGb+a5LM+yBEuexEZdMueehi49pHxLS9g="
 crossorigin="anonymous"></script>
<script type="text/javascript" id="themeloader">
{% include 'partials/themes.js' %}
</script>
<script type="text/javascript" id="translationloader">
{% include 'partials/i18n.js' %}
</script>
{% block head %}
{% assets filters="babili", output="gen/base.%(version)s.js", "js/swagger-client.min.js", "js/base.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets filters="csscomp", output="gen/setup.%(version)s.css", "css/base.css", "css/waitlist.css", "css/font.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	
<title>{% block title %}{% endblock %}</title>
{% endblock %}
{% set header_insert = get_header_insert() %}
{% if header_insert is not none %}
{{header_insert|safe}}
{% endif %}
<script type="text/javascript">
	$(function () {
		if (!window.EventSource) {
			waitlist.base.displayMessage('{{_('We have had to disable <strong>features</strong> please consider'
				' upgrading your<a href="http://caniuse.com/#feat=eventsource"> browser</a>') }}', 'danger', true);
		}
	});
</script>
</head>
<body>
	{% block menu %}
	{{ main_nav.render()|safe }}
	{% endblock %}
	{%  block alert_base %}
	<div id="alert-area-base">
	{% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
  		{% for category, message in messages %}
  		<div class="alert alert-{{category}} alert-dismissible" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
  			<p class="text-center">{{message}}</p>
  		</div>
  		{% endfor %}
  		{% endif %}
	{% endwith %}
	</div>
	{% endblock alert_base %}
	<div id="content" class="container-fluid">
		{% block container_data %}
		<div class="row" id="data">{% block data %}{% endblock %}</div>
		{% endblock %}
	</div>
	{% block footer %}
	<footer class="container-fluid">
		<div class="row justify-content-left">
			<div class="col-10 footer">&copy; Copyright 2016-2018+ by <a href="char:91495852">Bruce Warhead {{_('ISK Donations are appreciated')}}</a> v{{version}}.<br/>
			EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to Bruce Warhead to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, Bruce Warhead. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.
			</div>
			<div class="col-2">
			{% include 'partials/themes_selector.html' %}
			</div>
		</div>
	</footer>
	{% endblock %}
</body>
</html>