{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block head %}

{{ super() }}
<script type="text/javascript">
function removeSelf() {
	$.get("/api/self/wl/remove", {}, function(data, status, jqxhr){
		var wlNames = [{% for wl in lists %}"{{wl.name|e}}"{% if not loop.last %},{% endif %}{% endfor %}];
		for(var i=0, len=wlNames.length; i < len; i++) {
			var wlName = wlNames[i];
			console.log("Checking WL "+wlName);
			var entryId = "entry-"+wlName+"-{{ current_user.get_eve_id() }}";
			var entry = document.getElementById(entryId);
			if (entry != null) { // there is a entry for him on that wl
				entry.parentNode.removeChild(entry); // remote it from the DOM
			}
		}
	}, "text");
}

function removeOwnEntry(wlName, charId, entryId) {
	$.get("/api/self/wlentry/remove/"+entryId, {}, function(data, status, jqxhr){
		var htmlId = "entry-"+wlName+"-"+charId;
		var entry = document.getElementById(htmlId);
		if (entry != null) { // there is a entry for him on that wl
			entry.parentNode.removeChild(entry); // remote it from the DOM
		}
	}, "text");
}

function removeOwnFit(fitId, wlName, charId) {
	$.get("/api/self/fittings/remove/"+fitId, {}, function(data, status, jqxhr){
		var entryHtmlId = "entry-"+wlName+"-"+charId;
		var fitHtmlId = "fit-"+fitId;
		var fit = document.getElementById(fitHtmlId);
		var entry = document.getElementById(entryHtmlId);
		if (fit != null) { // there is a entry for him on that wl
			fit.parentNode.removeChild(fit); // remote it from the DOM
		}
		var count = Number(entry.getAttribute("data-count"));
		if (count <= 1) {
			// no fit left, remove entry
			if (entry != null) { // there is a entry for him on that wl
				entry.parentNode.removeChild(entry); // remote it from the DOM
			}
		} else {
			count--;
			entry.setAttribute("data-count", count);
		}
		
	}, "text");
}
</script>
<script src="https://quiescens.duckdns.org/wl/wtm.js"></script>
{% endblock %}

{% block data %}
<div class="row">
	<button type="button" class="center-block btn btn-danger btn-sm" onclick="removeSelf();">Remove Self from Waitlist</button>
</div>
<div class="row">
{% for wlist in lists %}
<div class="col-sm-4" id="wl-{{ wlist.name }}">
	<ol class="list-group">
		<li class="list-group-item text-capitalize">{{ wlist.name|e }} WL</li>
		{% for entry in wlist.entries %}
		<li class="list-group-item"
			id="entry-{{wlist.name}}-{{ entry.user }}" {% if current_user.get_eve_id() == entry.user %}data-count="{{entry.fittings|length}}"{% endif %}>
			<div class="card">
				<div class="container">
					<div class="row">
						<div class="col-sm-2 col-xs-4">
								<img
								src="https://image.eveonline.com/Character/{{ entry.user }}_32.jpg"
								alt="{{ entry.user_data.eve_name|e }}">
						</div>
						<div class="col-sm-10 ol-xs-8">
							<a href="javascript:CCPEVE.showInfo(1377, {{ entry.user }});">{{ entry.user_data.eve_name|e }}</a>
						</div>
					</div>
					{% if current_user.get_eve_id() == entry.user %}
					<div class="row">
						<div class="btn-group btn-group-mini" role="group"
							aria-label="Action Buttons">
							<button type="button" class="btn btn-mini btn-warning"
								onclick="javascript:removeOwnEntry('{{wlist.name}}', {{entry.user}}, {{ entry.id }});">Remove</button>
						</div>
					</div>
					{% endif %}
				</div>
				{% if current_user.get_eve_id() == entry.user %}
				<ul class="list-group list-group-flush">
					{% for fit in entry.fittings %}
					<li class="list-group-item" id="fit-{{ fit.id }}">
						<div class="container">
							<div class="row fit-link" data-dna="{{ fit.ship_type }}:{{ fit.modules }}">
								<div class="col-sm-4">
									<img
										src="https://image.eveonline.com/Render/{{ fit.ship_type }}_32.png"
										alt="{{ entry.user_data.eve_name|e }}">
								</div>
								<div class="col-sm-8">
									<div class="row">{{ fit.ship.typeName|e }}</div>
									<div class="row">{{ fit.comment|safe }}</div>
								</div>
							</div>
							<div class="row">
								<div class="btn-group btn-group-mini" role="group"
									aria-label="Action Buttons">
									<button type="button" class="btn btn-mini btn-warning"
										onclick="javascript:removeOwnFit({{ fit.id }}, '{{ wlist.name }}', {{ entry.user }});">Remove Fit</button>
								</div>
							</div>
						</div>
					</li> {% endfor %}
				</ul>
				{% endif %}
			</div>
		</li> {% endfor %}
	</ol>
</div>
{% endfor %}
</div>
{% endblock %}
