{% extends "base.html" %}

{% block title %}Notification{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
function handleSSEError(event) {
	event.target.close();
	var sse = getSSE();
}

function getSSE() {
	var sse = new EventSource("{{url_for('fittings.subscribe', user_id=user)}}");
	sse.onmessage = function(message) {
        var sound = document.getElementById('sound');
        sound.volume = 0.5;
        sound.play();
        sse.close()
    }
	sse.onerror = handleSSEError;
	return sse;
}

$(document).ready(
        function() {
            var sse = getSSE();           
        });
</script>
{% endblock %}

{% block data %}
{% if is_igb %}
<p>
This page can only be used from an up-to-date out of game browser, that supports Server Send Events. (No IE, Edge)
<a href="https://developer.mozilla.org/en-US/docs/Web/API/EventSource">End of this site contains supported browser list.</a>
</p>
{% endif %}
<audio id="sound" src="{{url_for('static', filename='gong-sound.mp3')}}" preload="auto" controls loop></audio>
{% endblock %}
