{% extends "base.html" %} {% block title %}WL Management{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
function showFitting(dna) {
	if (typeof CCPEVE == 'undefined') {
		console.log("dna="+dna);
	} else {
	CCPEVE.showFitting(dna);
	}
}
/*
 * Set up click handlers on fittings
 */
 function setupDNA() {
	fits = document.getElementsByClassName("fit-link");
	for (var i = 0; i < fits.length; i++) {
		fits[i].addEventListener("click", function(event){
			 dna = this.getAttribute('data-dna');
			 showFitting(dna);
		 })
	}
}
</script>
<<style>
<!--

-->
.btn-group-mini > .btn, .btn-mini {
    padding: .1rem .4rem;
    font-size: .6rem;
    line-height: 1.0;
    border-radius: .1rem;
}
</style>
{% endblock %}
{% block menu %}
<a class="navbar-brand" href="#">WarpToMe WL</a>
<ul class="nav navbar-nav">
	<li class="nav-item active"><a class="nav-link" href="#">Home
			<span class="sr-only">(current)</span>
	</a></li>
	<li class="nav-item">
	<a class="nav-link" href="/xup">X-UP</a>
	</li>
</ul>
{% endblock %} {% block data %}
{% for wlist in lists %}
<div class="col-sm-4" id="wl-{{ wlist.name }}">
	<ol class="list-group">
		<li class="list-group-item text-capitalize">{{ wlist.name|e }} WL</li>
		{% for entry in wlist.entries %}
		<li class="list-group-item">
			<div class="card">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<img src="https://image.eveonline.com/Character/{{ entry.user }}_32.jpg" alt="{{ entry.user_data.eve_name|e }}">
						</div>
						<div class="col-sm-8">
						<a href="javascript:CCPEVE.showInfo(1377, {{ entry.user }})">{{ entry.user_data.eve_name|e }}</a>
						</div>
					</div>
					<div class="row">
						<div class="btn-group btn-group-mini" role="group" aria-label="Action Buttons">
							<button type="button" class="btn btn-primary" onclick="javascript:CCPEVE.showInfo(1377, {{ entry.user }})">Char</button>
							<button type="button" class="btn btn btn-secondary" onclick="javascript:CCPEVE.startConversation({{ entry.user }})">Conversation</button>
						</div>
					</div>
				</div>
  				<ul class="list-group list-group-flush">
				{% for fit in entry.fittings %}
    				<li class="list-group-item">
    					<div class="container fit-link" data-dna="{{ fit.ship_type }}:{{ fit.modules }}" onclick="">
    					<div class="row">
    						<div class="col-sm-4">
    						<img src="https://image.eveonline.com/Render/{{ fit.ship_type }}_32.png" alt="{{ entry.user_data.eve_name|e }}">
    						</div>
    						<div class="col-sm-8">
    						<div class="row">
    						{{ fit.ship.typeName|e }}
    						</div>
    						<div class="row">
    						{{ fit.comment|safe }}
    						</div>
    						</div>
    					</div>
    					</div>
    				</li>
				{% endfor %}
  				</ul>
			</div>
		</li>
		{% endfor %}
	</ol>
</div>
{% endfor %}
<script type="text/javascript">
setupDNA();
</script>
{% endblock %}
