{% extends "base.html" %}

{% block title %}WL Management{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
function removePlayer(userId) {
	var wl_names = [{% for wl in lists %}"{{wl.name|e}}",{% endfor %}];
	for (idx in wl_names) {
		var wl_name = wl_names[idx]
		var entry_id = "entry-"+wl_name+"-"+userId
		var entry = document.getElementById(entry_id);
		if (entry != null) { // there is a entry for him on that wl
			entry.parentNode.removeChild(entry); // remote it from the DOM
		}
	}
	$.post("/api/wl/remove/", {playerId: userId}, function(){}, "text");
}
</script>
{% endblock %}

{% block data %}
{% for wlist in lists %}
<div class="col-sm-4" id="wl-{{ wlist.name }}">
	<ol class="list-group">
		<li class="list-group-item text-capitalize">{{ wlist.name|e }} WL</li>
		{% for entry in wlist.entries %}
		<li class="list-group-item" id="entry-{{ wlist.name }}-{{ entry.user }}">
			<div class="card">
				<div class="container">
					<div class="row">
						<div class="col-sm-2 hidden-sm-down">
							<img src="https://image.eveonline.com/Character/{{ entry.user }}_32.jpg" alt="{{ entry.user_data.eve_name|e }}">
						</div>
						<div class="col-sm-8">
						<a href="javascript:CCPEVE.showInfo(1377, {{ entry.user }})">{{ entry.user_data.eve_name|e }}</a>
						</div>
					</div>
					<div class="row">
						<div class="btn-group btn-group-mini" role="group" aria-label="Action Buttons">
							<button type="button" class="btn btn-primary" onclick="javascript:CCPEVE.showInfo(1377, {{ entry.user }})">Char</button>
							<button type="button" class="btn btn btn-secondary" onclick="javascript:CCPEVE.startConversation({{ entry.user }})">Conversation</button>
							<button type="button" class="btn btn btn-warning" onclick="javascript:removePlayer({{ entry.user }})">Remove</button>
						</div>
					</div>
				</div>
  				<ul class="list-group list-group-flush">
				{% for fit in entry.fittings %}
    				<li class="list-group-item">
    					<div class="container fit-link btn btn-primary" data-dna="{{ fit.ship_type }}:{{ fit.modules }}">
    					<div class="row">
    						<div class="col-sm-4 hidden-sm-down">
    						<img src="https://image.eveonline.com/Render/{{ fit.ship_type }}_32.png" alt="{{ entry.user_data.eve_name|e }}">
    						</div>
    						<div class="col-sm-8">
    							<div class="row">
    							{{ fit.ship.typeName|e }}
    							</div>
    							{% if fit.comment is not none %}
    							<div class="row">
    							<small>{{ fit.comment|safe }}</small>
    							</div>
    							{% endif %}
    						</div>
    					</div>
    					</div>
    				</li>
				{% endfor %}
  				</ul>
			</div>
		</li>
		{% endfor %}
	</ol>
</div>
{% endfor %}
{% endblock %}
