<div class="col-md-12" id="x-up">
<a href="https://i.imgur.com/6KvLvt8.gif" target="_blank">{{ _('FC, WHAT DO?') }}</a>
{% if group is not none %}
{% if update %}
<form action="{{url_for('xup.update_submit')}}" method="post">
<input type="hidden" name="old-fit-id" value="{{oldFitID}}">
{% else %}
<form action="{{url_for('xup.submit')}}" method="post">
{% endif %}
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
<fieldset class="form-group bg-danger">
<label {% if not newbro %}hidden{%endif%}>
<input type="checkbox" name="newbro" {% if newbro %}checked{% endif %}>
{{ _('I am new to %(title)s or Incursions', title=title) }}</label>
</fieldset>
{% if is_index %}
<input type="hidden" name="groupID" id="groupID" value="{{group.groupID}}">
{% else %}
<fieldset class="form-group">
	<label for="group">{{ _('Fleet to x-up for') }}</label>
	<select autocomplete="off" class="form-control" id="group" name="groupID">
		<option value="{{group.groupID}}">{{group.displayName}}</option>
		{% for grp in groups %}
		{% if grp.groupID != group.groupID %}
		<option value="{{grp.groupID}}">{{grp.displayName}}</option>
		{% endif %}
		{% endfor %}
	</select>
</fieldset>
{% endif %}
{% if ts %}
<label>
  <input type="checkbox" name="pokeMe" value="on"{% if current_user.poke_me %} checked{% endif %}>
  {{ _('Poke me on TS (exact charactername required, case sensitive)') }}
</label>
{% endif %}
<fieldset class="form-group">
<label for="fittings">{{ _('Fittings') }}</label>
<textarea class="form-control" id="fittings" name="fits" rows="10" cols="50" placeholder="Post your fittings here" required></textarea>
</fieldset>
<fieldset class="form-group" id="grp-cbslvl">
	<label for="cbs">{{ _('Caldari Battleship Level') }}</label>
	<select autocomplete="off" class="form-control" id="cbs" name="cbs">
		<option value=""{% if current_user.cbs_level == 0 %} selected{% endif %}>{{ _('No Caldari BS') }}</option>
		<option value="1"{% if current_user.cbs_level == 1 %} selected{% endif %}>{{ _('1') }}</option>
		<option value="2"{% if current_user.cbs_level == 2 %} selected{% endif %}>{{ _('2') }}</option>
		<option value="3"{% if current_user.cbs_level == 3 %} selected{% endif %}>{{ _('3') }}</option>
		<option value="4"{% if current_user.cbs_level == 4 %} selected{% endif %}>{{ _('4') }}</option>
		<option value="5"{% if current_user.cbs_level == 5 %} selected{% endif %}>{{ _('5') }}</option>
	</select>
</fieldset>
<fieldset class="form-group" id="grp-logilvl">
	<label for="logi">{{ _('Logistic Cruiser Level') }}</label>
	<select autocomplete="off" class="form-control" id="logi" name="logi">
		<option value=""{% if current_user.lc_level == 0 %} selected{% endif %}>{{ _('No Logi') }}</option>
		<option value="5"{% if current_user.lc_level == 5 %} selected{% endif %}>{{ _('5') }}</option>
		<option value="4"{% if current_user.lc_level == 4 %} selected{% endif %}>{{ _('4') }}</option>
		<option value="3"{% if current_user.lc_level == 3 %} selected{% endif %}>{{ _('3') }}</option>
		<option value="2"{% if current_user.lc_level == 2 %} selected{% endif %}>{{ _('2') }}</option>
		<option value="1"{% if current_user.lc_level == 1 %} selected{% endif %}>{{ _('1') }}</option>
	</select>
</fieldset>
<button type="submit" class="btn btn-primary">{{ _('Enter On Waitlist') }}</button>
</form>
{% else %}
<p>{{ _('All Waitlists are closed!') }}</p>
{% endif %}
</div>