{% extends "base.html" %}

{% block title %}X-UP{% endblock %}

{% block head %}
{{ super() }}
{% if fleet.xup_enabled %}
<script>
$(document).ready(function() {
	var calbsgrp = document.getElementById('grp-cbslvl');
	var logilvlgrp = document.getElementById('grp-logilvl');
	var logi_select = document.getElementById('logi');
	var cbs_select = document.getElementById('cbs');
	var resist_regex = /\[Rattlesnake|fitting:17918|\[Scorpion Navy Issue|fitting:3230|\[Rokh|fitting:24688/;
	var logi_regex = /fitting:11985|\[Basilisk|fitting:11978|\[Scimitar/;
	var checkExtra = function(e) {
		var textarea = $(e.target);
		var currentText = textarea.val();
		if (resist_regex.test(currentText)) {
			$(calbsgrp).show();
			logi_select.required=true;
		} else {
			$(calbsgrp).hide();
			logi_select.required=false;
		}
		if (logi_regex.test(currentText)) {
			$(logilvlgrp).show();
			logi_select.required=true;
		} else {
			$(logilvlgrp).hide();
			logi_select.required=false;
		}
		
	}
	var fakeEv = {target: document.getElementById('fittings')};
	fakeEv.target.addEventListener('input', checkExtra, false);
	checkExtra(fakeEv);
});

</script>
{% endif %}
{% endblock %}

{% block data %}
{% if fleet.xup_enabled %}
<div class="col-sm-8" id="x-up">
<form action="/xup" method="post">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
<fieldset class="form-group bg-danger">
<label {% if not newbro %}hidden{%endif%}>
<input type="checkbox" name="newbro" {% if newbro %}checked{% endif %}>
I am new to WarpToMe or Incursions</label>
</fieldset>
<fieldset class="form-group">
<label for="fittings">Fittings</label>
<textarea class="form-control" id="fittings" name="fits" rows="10" cols="50" placeholder="Post your fittings here" required></textarea>
</fieldset>
<fieldset class="form-group" id="grp-cbslvl">
	<label for="cbs">Caldari Battleship Level</label>
	<select class="form-control" id="cbs" name="cbs">
		<option value="">No Caldari BS</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
</fieldset>
<fieldset class="form-group" id="grp-logilvl">
	<label for="logi">Logistic Cruiser Level</label>
	<select class="form-control" id="logi" name="logi">
		<option value="">No Logi</option>
		<option value="5">5</option>
		<option value="4">4</option>
		<option value="3">3</option>
		<option value="2">2</option>
		<option value="1">1</option>
	</select>
</fieldset>
<button type="submit" class="btn btn-primary">Enter On Waitlist</button>
</form>
</div>
{% else %}
<p>X-UP is currently closed!</p>
{% endif %}
{% endblock %}