{% extends "base.html" %}
{% block container_data %}
	<form class="form" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<input type="hidden" name="trivia-id" value="{{ trivia.triviaID }}">
	{% for question in trivia.questions %}
	<div class="form-group">
	<label for="qinput-{{question.questionID}}">{{ question.questionText }}</label>
		{% if question.answerType == 'Integer' %}
		<input class="form-control" type="number" id="qinput-{{question.questionID}}"{% if question.inputPlaceholder is not none %} placeholder="{{ question.inputPlaceholder }}"{% endif %}>
		{% else %}
		<input class="form-control" type="text" id="qinput-{{question.questionID}}"{% if question.inputPlaceholder is not none %} placeholder="{{ question.inputPlaceholder }}"{% endif %}>
		{% endif %}
	</div>
	{% endfor %}
	<button type="submit" class="btn-primary">Submit Answers</button>
	</form>
{% endblock %}