{% extends "base.html" %}

{% macro resolve_action(name) -%}
	{% if name == "xup" %}
	X-UP
	{% elif name == "comp_rm_pl" %}
	Removed a character from waitlists
	{% elif name == "comp_inv_pl" %}
	Send notification to character
	{% elif name == "comp_rm_etr" %}
	Removed Entry from X-UPs
	{% elif name == "self_rm_fit" %}
	Removed own fit
	{% elif name == "self_rm_etr" %}
	Removed own entry
	{% elif name == "self_rm_wls_all" %}
	Removed himself from all lists
	{% elif name == "comp_mv_xup_etr" %}
	Approved X-UP entry
	{% elif name == "comp_mv_xup_fit" %}
	Approved Single Fit
	{% endif %}
{%- endmacro %}

{% block title %}Static History{% endblock %}

{% block head %}
{{ super() }}
	{% if config.stattool_enabled %}
	<script type="text/javascript"
		src="{{ config.stattool_uri }}" integrity="{{ config.stattool_sri }}"
		crossorigin="anonymous" defer async/>
	{% assets filters="babili", output="gen/statcfg.%(version)s.js", "js/config/stattool_config.js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	{%  endif %}
{% endblock %}

{% block container_data %}
<div class="row">
<table style="font-size: 0.5em" class="table table-sm">
<thead>
<th>Time</th><th>Action</th><th>Account</th><th>Target</th><th>Associated Fits</th>
</thead>
{% for hEl in history %}
	<tr>
		<td>{{hEl.time}}</td>
		{#{% if hEl.action == "xup" %}
		<td>{{hEl.target.get_eve_name()}} x'ed up</td>
		{% elseif hEl.action = "" %}
		<td></td>
		{% endif %}#}
		<td>{{resolve_action(hEl.action)}}</td>
		<td>{{hEl.source.username}}</td>
		<td><a href="char:{{ hEl.targetID }});">{{hEl.target.get_eve_name()}}</a></td>
		<td>{% for fit in hEl.fittings %} {% if fit.ship_type == 1 %}<a class="booby-link">{{fit.ship.typeName}}</a>{% else %}<a class="fit-link" data-dna="{{fit.get_dna()}}">{{fit.ship.typeName}}</a>{% endif %}{% endfor %}</td>
	</tr>
{% endfor %}
</table>
</div>
{% endblock %}
