{% extends "base.html" %}
{% block title %}History{% endblock %}

{% block head %}
{{ super() }}
<script src="https://quiescens.duckdns.org/wl/wtm.js"></script>
<script src="/static/js/history.js"></script>
<meta name="api-history-changed" content="{{url_for('waitlist_api.history_since')}}">
{% endblock %}

{% block container_data %}
<div class="row">
<table style="font-size: 0.5em" class="table table-sm">
<thead>
<th>Time</th><th>Action</th><th>Account</th><th>Target</th><th>Associated Fits</th>
</thead>
<tbody id="historybody">
</tbody>
</table>
</div>
{% endblock %}
