{% extends "base.html" %}
{% block title %}History{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha256-1A78rJEdiWTzco6qdn3igTBv9VupN3Q1ozZNTR4WE/Y=" crossorigin="anonymous"></script>
<script src="https://quiescens.duckdns.org/wl/wtm.js"></script>
{% assets filters="jsmin", output="gen/fitlink.%(version)s.js", "js/fitlink.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<meta name="api-history-changed" content="{{url_for('api_fittings.history_since')}}">
<style type="text/css" id="history-css">
.hidden-el {
	display: none;
}
.comp-font {
	font-size: 1.0em;
}
</style>
{% endblock %}

{% block container_data %}
<div class="row">
<div class="btn-group" data-toggle="buttons" role="group" aria-label="history settings">
	<label id="filter-approval-only" class="btn btn-primary">
		<input id="filter-approval-only-box" type="checkbox" autocomplete="off">Only Show Approvals
	</label><button class="btn btn-sm" style="font-size:1em;" onclick="increaseSize(0.25);">A</button><button class="btn btn-sm" style="font-size:0.5em;" onclick="increaseSize(-0.25);">A</button>
</div>
</div>
<div class="row">
<table class="table table-sm comp-font">
<thead>
<th>Time</th><th>Action</th><th>Account</th><th>Target</th><th>Associated Fits</th>
</thead>
<tbody id="historybody">
</tbody>
</table>
</div>
{% assets filters="jsmin", output="gen/history-setup.%(version)s.js", "js/history.js", "js/history-font.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
