{% extends "base.html" %}

{% block title %}Feedback{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block data %}
<div class="col-md-8" id="x-up">
<form action="{{url_for('feedback.submit')}}" method="post">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
<fieldset class="form-group">
	<label for="title">Feedback Title</label>
	<input type="text" class="form-control" id="title" name="title" size="50" placeholder="Short feedback sumup (max 50chars)" required/>
</fieldset>
<fieldset class="form-group">
	<label for="message">Additional Feedback</label>
	<textarea class="form-control" id="message" name="message" rows="10" cols="50" placeholder="Write additional information for us here" required></textarea>
</fieldset>
<button type="submit" class="btn btn-primary">Send Feedback</button>
</form>
</div>
{% endblock %}