{% extends "settings/base.html" %}

{% block title %}Settings - Feedback{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<table class="table">
<thead>
	<tr>
		<th>#</th>
		<th>Time</th>
		<th>Character Name</th>
		<th>Title</th>
		<th>Message</th>
	</tr>
</thead>
<tbody>
	{% for fb in feedbacks %}
	<tr id="fb-{{ fb.id }}">
		<td id="fb-{{fb.id}}-id">{{ fb.id }}</td>
		<td id="fb-{{fb.id}}-time">{{ fb.time }}</td>
		<td id="fb-{{fb.id}}-name">{{ fb.user_data.eve_name }}</td>
		<td id="fb-{{fb.id}}-title">{ fb.title }</td>
		<td id="fb-{{fb.id}}-message">{{ fb.message }}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}
