{% extends "settings/base.html" %}

{% block title %}Settings - Tickets{% endblock %}

{% block head %}
<meta name="api-igui-openwindow-newmail" content="{{url_for('api_eve_openwindow.newmail')}}">
{{ super() }}
{% assets filters="babili", output="gen/ticket.%(version)s.js", "js/base.js", "js/eve-igb-wrapper.js", "js/ticket-settings.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

{% block content %}
<table class="table">
<thead>
	<tr>
		<th>Actions</th>
		<th>Time</th>
		<th>Character Name</th>
		<th>Title</th>
		<th>Message</th>
	</tr>
</thead>

<tbody id="ticket-table-body">
	{% for fb in tickets %}
	<tr id="fb-{{ fb.id }}" data-characterid="{{fb.character.id}}">
		<td id="fb-{{fb.id}}-actions">
			<button type="button" class="btn btn-sm btn-info" data-action="sendTicketMail" data-ticketId="{{fb.id}}">Open Answer Mail</button>
			<button type="button" class="btn btn-sm btn-info" data-action="changeTicketStatus" data-ticketId="{{fb.id}}" data-newStatus="close">Close Ticket</button>
		</td>
		<td id="fb-{{fb.id}}-time">{{ fb.time }}</td>
		<td id="fb-{{fb.id}}-name">{{ fb.character.eve_name }}</td>
		<td id="fb-{{fb.id}}-title">{{ fb.title }}</td>
		<td id="fb-{{fb.id}}-message">{{ fb.message }}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}
